services:
  api:
    build:
      context: .
      dockerfile: src/Credo.BlobStorage.Api/Dockerfile
    container_name: blobstorage-api
    ports:
      - "5000:8080"
    volumes:
      - /2017:/mnt/storage/2017
      - /2018:/mnt/storage/2018
    networks:
      - blobstorage
    restart: unless-stopped

  migrator:
    build:
      context: .
      dockerfile: tools/Credo.BlobStorage.Migrator/Dockerfile
    depends_on:
      - api
    volumes:
      - ./logs:/app/logs
    networks:
      - blobstorage
    environment:
      - Migration__TargetApiBaseUrl=http://blobstorage-api:8080
    restart: on-failure
    profiles:
      - migration

networks:
  blobstorage:
